<h1>About</h1>
<p style="font-size:160%;">Welcome to our web app! This is our project for HackISU 2016.
In this project we used a web application framework, Ruby on Rails, to create an online web app.
The intended purpose of this web project to create a web app where users can share, upload, and
reupload text files while keeping all previous revisions. Due to the time constraint we did not
have enough time to complete the web app.</p>

<h1>Help</h1>
<p style="font-size:160%;">In order to use this web app, first upload two text files in the "Upload File" tab.
When uploading files make sure to only upload files named "string1.txt" and "string2.txt". Then
go to the "See Changes" tab to view the differences between the two files. Users can also create a their own
personal profiles.</p>