<!DOCTYPE html>
<html>
    <html lang="en-US">
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <br><br><br><br><br>
        <h1 style="text-align:center; color:darkred;">HackISU 2016</h1>
        <p style="color:white; text-align:center;"><b>Welcome to our website!!!</p>
        <hr>

        <p style="text-align:center;"><%= image_tag("hackathonlogo2.png", :alt => "HackISU 2016", :width => "400", :height => "400") %></p>
        <!--<p style="text-align:center;"><img src="/app/assets/images/hackathonlogo2.png" alt="HackISU 2016" width="400" height="400"></p>-->

        <p>© <%= Date.today.year %> Cole, George, Layton, Victory.</p>
    </body>
</html>