<h1>DiffViewer</h1>

<!--<div class="diff-viewer">-->
<!--    <div class="form-group">-->
<!--        </%= form_tag do %>-->
<!--            </%= label_tag(:search, "Search for:") %>-->
<!--            </%= text_field_tag(:search) %>-->
<!--            </%= submit_tag("Search") %>-->
<!--        </% end %>-->
<!--    </div>-->

<dif class="row">
    <table>
        <div class="col-sm-6 well well-sm"><pre><%= @file %></pre></div>
        <div class="col-sm-6 well well-sm"><pre><%= @file1 %></pre></div>
        <div class="col-sm-6 well well-sm"><pre><%= @diffLeft %></pre></div>
        <div class="col-sm-6 well well-sm"><pre><%= @diffRight %></pre></div>
    </table>

    <div class="col-sm-12 well well-sm"><%= @combined %></div>
</dif>





    <!--<ul class="commit">-->
    <!--    </% @r.log.each do |commit| %>-->

    <!--    <li class="text-monospace">-->
    <!--        <span class="text-info"></%= commit %></span>-->
    <!--        <br><b>Message</b>: </%= commit.message %>-->
    <!--        <br><b>Date</b>: </%= commit.date.strftime("%m-%d-%y %H:%M:%S") %>-->
    <!--        <br><b>Author</b>: </%= commit.author.name %>-->
    <!--    </li>-->
    <!--    </% end %>-->
    <!--</ul>-->

    <!--<h2>Latest File</h2>-->
    <!--<pre></%=  %></pre>-->
</div>

