<% if logged_in? %>
    <h1 style="text-align:center;">You are now logged in, <u><%= @user.username %></u>!</h1>
    <br>
<% else %>
    <div class="alert alert-danger"><strong>ERROR</strong>: You are not logged in.</div>
<% end %>
