// @import "bootstrap-sprockets";
// @import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#logo {
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo-icon {
  //FIXME: doesn't align properly
  vertical-align: top;
}

#logo, #logo-icon {
  color: #B22222;
}

#logo-icon:hover, #logo:hover {
  color: #C33333;
  text-decoration: none;
}

.text-monospace {
  font-family: monospace !important;
}

// .commit class
ul.commit {
  list-style: none;
}

.commit li {
  padding-left: 1.3em;
}

.commit li:before {
  content: "\f126"; // fa-code-fork
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -2em; /* same as padding-left set on li */
  width: 0.5em; /* same as padding-left set on li */
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

// this shit has errors
.field_with_errors {
  // @extend .has-error;
  .form-control {
    color: #8b0000;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}


input {
  height: auto !important;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}