<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
<br />
<%= link_to "Upload file", new_resume_path, class: "btn btn-primary" %>

<br />
<br />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <!--<th>Download Link</th>-->
      <th>FileName</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @resumes.each do |resume| %>
      <tr>
        <td><%= resume.name %></td>
        <!--<td></%= link_to "Download Resume", resume.attachment_url %></td>-->
        <td><%= link_to File.basename(resume.attachment_url), resume.attachment_url %></td>

        <td><%= button_to "Delete",  resume, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{resume.name}?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>